package ${packageName}.mapper;

import ${packageName}.domain.po.${ClassName};
import ${packageName}.domain.vo.${ClassName}Vo;
import self.miles.common.mybatis.core.mapper.BaseMapperPlus;

/**
 * ${functionName}Mapper接口
 *
 * @author ${author}
 * @date ${datetime}
 */
public interface ${ClassName}Mapper extends BaseMapperPlus<${ClassName}, ${ClassName}Vo> {

}
